body{
    text-align: center;
}

.NavBar{
 
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

div img{
    flex-grow: 0.75;

}




.Section-1{
    border: 2px solid black;
}

.Section-2{
    border: 2px solid black;
}

.Section-3{
    border: 2px solid black;
}

.Section-4{
    border: 2px solid black;
}