body{
    text-align: center;
}

.NavBar{
 
    padding: 25px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(37, 38, 48);
    color: white;
}

a{
    color: white;
}

div img{
    flex-grow: 0.75;

}

.Section-1{
    display: flex;
    padding: 50px;
    background-color: rgb(37, 38, 48);
}

.Container1{
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 25px;
    color: white;
  

}

.Container2{
    background-color: rgb(170, 163, 163);
    display: flex;
    margin: auto;
    padding: 75px;
    color: white;

  
}



.Sect-1-Button{
    width: 100px;;
}

.Section-2{
    border: 2px solid black;
}

.Section-3{
    border: 2px solid black;
}

.Section-4{
    border: 2px solid black;
}